# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [1]:
import pandas as pd

## Regression Model Evaluation

In [11]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [20]:
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.model_selection import train_test_split as tts

In [15]:
X = data.drop("MEDV", axis=1) #La X siempre es un dataframe (Aunque solo tenga una columna)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [16]:
data["MEDV"] = load_boston().target #Variable objetivo

/opt/anaconda3/envs/ironhack/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [17]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [18]:
linreg=LinReg()

In [19]:
linreg

LinearRegression()

In [21]:
linreg.fit(X_train, y_train)

LinearRegression()

## 3. Calculate and print R-squared for both the training and the testing set.

In [35]:
y_pred = linreg.predict(X_test)
y_test_pred = linreg.predict(X_train)

In [36]:
print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_test, y_pred))

R2 - Coeficiente de Determinacion 0.7473549399257697

In [74]:
print('R2 - Coeficiente de Determinacion', metrics.r2_score(y_train, y_pred_train))

R2 - Coeficiente de Determinacion 0.9629286376274329

## 4. Calculate and print mean squared error for both the training and the testing set.

In [38]:
print('MSE - Error Cuadratico Medio', metrics.mean_squared_error(y_test, y_pred))

MSE - Error Cuadratico Medio 20.321604969233952

In [75]:
print('MSE - Error Cuadratico Medio', metrics.mean_squared_error(y_train, y_pred_train))

MSE - Error Cuadratico Medio 0.025

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [42]:
print('MAE - Error Medio Absoluto', metrics.mean_absolute_error(y_test, y_pred))

MAE - Error Medio Absoluto 3.3283853661831473

In [76]:
print('MAE - Error Medio Absoluto', metrics.mean_absolute_error(y_train, y_pred_train))

MAE - Error Medio Absoluto 0.025

## Classification Model Evaluation

In [44]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [45]:
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [49]:
y = data["class"]
X = data.drop("class", axis=1) #La X siempre es un dataframe (Aunque solo tenga una columna)
X.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [50]:
X_train, X_test, y_train, y_test = tts(X,y, test_size=0.2)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [52]:
from sklearn.linear_model import LogisticRegression

In [60]:
log = LogisticRegression()

In [61]:
log.fit(X_train, y_train)

LogisticRegression()

In [62]:
y_pred = log.predict(X_test)

In [73]:
y_pred_train = log.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [63]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, fbeta_score, confusion_matrix

In [78]:
accuracy_score(
y_test,
y_pred)

0.9666666666666667

In [79]:
accuracy_score(
y_train,
y_pred_train)

0.975

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [90]:
from sklearn.metrics import balanced_accuracy_score

In [92]:
balanced_accuracy_score(
y_test,
y_pred)

0.9696969696969697

In [93]:
balanced_accuracy_score(
y_train,
y_pred_train)

0.9743589743589743

## 10. Calculate and print the precision score for both the training and the testing set.

In [102]:
precision_score(
y_test,
y_pred,
average = "micro")

0.9666666666666667

In [101]:
precision_score(
y_train,
y_pred_train,
average = "micro")

0.975

## 11. Calculate and print the recall score for both the training and the testing set.

In [100]:
recall_score(
y_test,
y_pred,
average = "micro")

0.9666666666666667

In [99]:
recall_score(
y_train,
y_pred_train,
average = "micro")

0.975

## 12. Calculate and print the F1 score for both the training and the testing set.

In [97]:
f1_score(
y_test,
y_pred, 
average = "micro" )

0.9666666666666667

In [98]:
f1_score(
y_train,
y_pred_train, 
average = "micro" )

0.975

## 13. Generate confusion matrices for both the training and the testing set.

In [71]:
pd.crosstab(
    y_test,
    y_pred
)

col_0  0   1   2
class
0      8   0   0
1      0  10   1
2      0   0  11

In [84]:
pd.crosstab(
    y_train,
y_pred_train,
)

col_0   0   1   2
class
0      42   0   0
1       0  37   2
2       0   1  38

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.

In [85]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [86]:
models={
    'dis': LinearDiscriminantAnalysis(),
    'neighbors': KNeighborsClassifier(),
    'naive': GaussianNB(),
    'tree': DecisionTreeClassifier(),
    'svm': SVC(),
}

In [87]:
for name, model in models.items():
    print("entrenando ", name)
    model.fit(X_train,y_train)

entrenando  dis
entrenando  neighbors
entrenando  naive
entrenando  tree
entrenando  svm

In [104]:
for name, model in models.items():
    y_pred3 = model.predict(X_test)
    print(f"--------{name}--------")
    print("Accuracy: ", accuracy_score(y_test,y_pred3, ))
    print("Precision: ", precision_score(y_test,y_pred3, average="micro"))
    print("Recall: ", recall_score(y_test,y_pred3, average="micro"))
    print("F1: ", f1_score(y_test, y_pred3, average="micro"))

--------dis--------
Accuracy:  0.9666666666666667
Precision:  0.9666666666666667
Recall:  0.9666666666666667
F1:  0.9666666666666667
--------neighbors--------
Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1:  1.0
--------naive--------
Accuracy:  0.9333333333333333
Precision:  0.9333333333333333
Recall:  0.9333333333333333
F1:  0.9333333333333333
--------tree--------
Accuracy:  0.9666666666666667
Precision:  0.9666666666666667
Recall:  0.9666666666666667
F1:  0.9666666666666667
--------svm--------
Accuracy:  0.9666666666666667
Precision:  0.9666666666666667
Recall:  0.9666666666666667
F1:  0.9666666666666667